APP_ENV=development
LOG_LEVEL=INFO

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-v4-flash
DEEPSEEK_URL=

DASHSCOPE_API_KEY=
QWEN_TTS_MODEL=qwen3-tts-vd-realtime-2026-01-15
QWEN_TTS_VOICE=

ASR_MODEL=fun-asr-realtime-2026-02-28